@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <!--encabezado y el pie de pagina-->
    <div>
        This  is a header
    </div>
    @RenderBody();
    <div>
        This is a footer
    </div>
</body>
</html>
