@{
    //content blocks
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @RenderPage("_header.cshtml")
        <h1>This is a Principal Page</h1>
        @RenderPage("_footer.cshtml")
    
    </div>
</body>
</html>
